$skull-size: 200px;

// -------------------------------------------------------------------------------------------
// Theme Engine
// -------------------------------------------------------------------------------------------

// Day theme colors
$theme-day-body-background-color: #fff;
$theme-day-wrapper-background-color: #f5f5f5;
$theme-day-wrapper-mobile-background-color: #fff;
$theme-day-text-color: #000;
$theme-day-subtext-color: #696969;
$theme-day-secondary-color: rgb(66, 165, 245);
$theme-day-header-background-color: $theme-day-secondary-color;
$theme-day-logo-inner: #fff;

// Day theme extras
$theme-day-border: rgb(66, 165, 245);
