@import "shared/scss/theme_variables.scss";

header {
  background-color: $theme-primary;
  color: $theme-secondary;
  height: 50px;
  padding: 0 10px;
  position: fixed;
  width: 100%;
  top: 0;
}

main {
  margin-top: 50px;
  padding-top: 15px;
}

.logo {
  width: 60px;
  height: 40px;
  margin-top: 5px;
  color: transparent;
  float: left;
}

nav {
  display: inline-block;

}

.nav {
  list-style: none;

  padding: 0;
  margin-left: 45px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
}

.nav li {
  margin: 0 3px;
  padding: 0;
  display: inline-block;
}

.nav li a {
  line-height: 50px;
  display: inline-block;
  height: 50px;
  color: $theme-secondary;
  text-decoration: none;
}

.nav li.active a,
.nav li a:hover {
  border-bottom: 4px $theme-subtext-color solid;
}

#footer {
  position: relative;
  padding: 10px;
  height: 60px;
  letter-spacing: 0.7px;
  text-align: center;

  a {
    font-weight: bold;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
