<header>
  <a routerLink="/list/news/"><img class="logo" src="assets/logo.svg" alt="Logo"></a>
  <nav>
    <ul class="nav">
      <li routerLinkActive="active">
        <a routerLink="/list/news/" (click)="scrollTop()">top</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/list/newest/" (click)="scrollTop()">new</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/list/show/" (click)="scrollTop()">show
        </a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/list/ask/" (click)="scrollTop()">ask
        </a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/list/jobs/" (click)="scrollTop()">jobs
        </a>
      </li>
    </ul>
  </nav>
</header>

<main>
  <router-outlet></router-outlet>
</main>


<div id="footer">
  <p>Show this project some ❤ on <a href="https://github.com/alfredoperez/ngx-hn" target="_blank"
                                    rel="noopener">GitHub</a></p>
</div>

