<header>
  <a routerLink="/newest/1"><img class="logo" src="assets/app-icon.png" alt="Logo"></a>
  <nav>
    <ul class="nav">
      <li routerLinkActive="active">
        <a routerLink="/newest/1" (click)="scrollTop()">new</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/show/1" (click)="scrollTop()">show
        </a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/ask/1" (click)="scrollTop()">ask
        </a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/jobs/1"
           (click)="scrollTop()">jobs
        </a>
      </li>
    </ul>
  </nav>
</header>

<main>
  <router-outlet></router-outlet>
</main>


<div id="footer">
  <p>Show this project some ❤ on <a href="https://github.com/hdjirdeh/angular2-hn" target="_blank" rel="noopener">GitHub</a></p>
</div>

