@import "../../shared/scss/media.scss";
@import "../../shared/scss/theme_variables.scss";

.main-content {
  margin-top: 60px;
  position: relative;
  width: 100%;
  min-height: 100vh;
  -webkit-transition: opacity .2s ease;
  transition: opacity .2s ease;
  box-sizing: border-box;
  padding: 8px 0;
  z-index: 0;
}


.job-header {
  font-size: 15px;
  padding: 0 40px 10px;
}

a {
  text-decoration: none;
  font-weight: bold;

  &:hover {
    text-decoration: underline;
  }

}
.post {
  padding: 15px 0 15px 5px;
  transition: background-color 0.2s ease;
  border-bottom: 1px solid #CECECB;

  .itemNum {
    color: #696969;
    position: absolute;
    width: 30px;
    text-align: right;
    left: 0;
    top: 4px;
  }
}
ol {
  padding: 0 40px;
  margin: 0;

  @media #{$mobile-only} {
    box-sizing: border-box;
    list-style: none;
    padding: 0 10px;
  }

  li {
    position: relative;
    -webkit-transition: background-color .2s ease;
    transition: background-color .2s ease;
  }
}

.item-block {
  display: block;
}

.nav {
  padding: 10px 40px;
  margin-top: 10px;
  font-size: 17px;
text-align: center;


  .prev {
    padding-right: 20px;


  }

  .more {

  }
}

