<div class="pages" *ngIf="items">
  <div class="pagination">
    <a routerLink="./" [queryParams]="{page: prevPage}"
       class="pagination-link" [class.disabled]="pageNumber == 1">‹ Prev
    </a>
    <a routerLink="./" [queryParams]="{page: nextPage}"
       class="pagination-link" [class.disabled]="items.length <30">
      Next ›
    </a>
  </div>

</div>

<section class="articles">
  <div *ngIf="!items && !errorMessage">
    Loading...
  </div>
  <app-error-message [message]="errorMessage"
                     *ngIf="!items && errorMessage !==''">
  </app-error-message>
  <div>
    <p class="job-header" *ngIf="feedType === 'jobs'">
      These are jobs at startups that were funded by Y Combinator. You can also get a job at a YC startup through <a
      href="https://triplebyte.com/?ref=yc_jobs">Triplebyte</a>.
    </p>
    <section class="articles">
      <div>
        <article *ngFor="let item of items">
          <span class="no">
          {{ item.index }}
          </span>
          <div>
            <h2>
              <a [routerLink]="['/item', item.id]">{{ item.title }}</a>
            </h2>
            <div class="meta" *ngIf="item.type !== 'job'">
              {{item.points | point }} by
              <a [routerLink]="['/user', item.user]" routerLinkActive="active"
                 class="link">{{item.user}}
              </a>
              {{ item.time_ago }} |
              <a [routerLink]="['/item', item.id]" class="link">
                {{item.comments_count | comment }}
              </a>
            </div>
          </div>
        </article>

      </div>
    </section>
  </div>
</section>
